<html>
<head>
    <title>Twitter Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'tweets/style.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'tweets/script.js' %}"></script>
</head>
<body>
<div class="title">Tweets Relevance System</div>
<div id="form_page">
    <form action='tweets/start' method="POST">
        <div class="form_elements">
            {% csrf_token %}
            <div class="form_div">
                <select id="woeid" name="woeid">
                    <option value="2459115">New York</option>
                    <option value="2442047">Los Angeles</option>
                    <option value="2490383">Seattle</option>
                </select>
            </div>
            <div class="form_div">
                <select id="category" name="category">
                    <option value="sports">Sports</option>
                    <option value="technology">Technology</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="politics">Politics</option>
                    <option value="crime">Crime</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="form_div" style="float:right;">
                <input style="margin-left:20px" type="button" class="btn btn-primary"
                       value="submit" onclick="getTrends()">
            </div>
        </div>
    </form>
</div>
<div id="mainContainer" class="mainContainer">
    <div id="trendsContainer" class="trendsContainer" style="display:none">

    </div>
    <div id="tweetsContainer" class="tweetsContainer" style="display:none">

    </div>
</div>
</body>
</html>